// app global css in SCSS form
body {
  background: #ebebeb;
  color: #1d1d1d;
}

body.body--dark {
  color: #dbd1d1;
}

.bg-body {
  background: #dbd1d1;
}

.text-muted {
  color: #bdbdbd;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 0px;
}

.body--dark .card-title {
  color: #dbd1d1;
}

.card-subtitle {
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 1.125rem;
  color: #909090;
}

.clickable-card {
  cursor: pointer;
}

.clickable-card:hover {
  background-color: #ccd8f0;
}

.q-card--dark {
  border: 1px solid rgba(128, 128, 128, 0.28);
  box-shadow: inherit !important;
}

.q-dark {
  color: #dbd1d1;
}

.q-list--dark, .q-item--dark {
  color: #dbd1d1;
}
