// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

$typography-font-family: 'Inter', sans-serif !default;

$primary   : #c54646;
$secondary : #6e2424;
$accent    : #de8080;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #2ca749;
$negative  : #e1122a;
$info      : #31CCEC;
$warning   : #f2ad37;
